
@{
    Layout = null;
    var data = TempData["init"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Design by foolishdeveloper.com -->
    <title>Glassmorphism login Form Tutorial in html css</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <link href="~/template/assets/css/login.css" rel="stylesheet" />
</head>
<body>
    @if (@data != null && (int)@data == 1)
    {
        TempData["init"] = 0;
        @await Component.InvokeAsync("NToastNotify")
    }
<div class="login-box">
  <h2>Login</h2>
        <form id="accesspanel" action="/Admin/Giris/" method="post">
    <div class="user-box">
                <input type="text" name="Mail" required="">
      <label>E Mail</label>
    </div>
    <div class="user-box">
                <input type="password" name="AdminPassword" required="">
      <label>Password</label>
    </div>
   
            <a id="giris_btn" href="#">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Submit
    </a>
  </form>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
        $(document).ready(function () {
            $('#giris_btn').click(function () { document.forms[0].submit() });
        });
</script>
</body>
</html>


