@using Entities.Concrete
@model IEnumerable<Trainer>

	<div class="row">
			<div class="ts-slider owl-carousel">
		@foreach (var item in Model)
		{
						<div class="col-lg-4 col-sm-6">
							<div class="ts-item set-bg">
								<img src="/images/trainer-images/@item.TrainerImgUrl" />
								<div class="ts_text">
									<h4>@item.TrainerFirstName @item.TrainerLastName</h4>
									<span>Gym Trainer</span>
									<div class="tt_social">
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-youtube-play"></i></a>
										<a href="#"><i class="fa fa-instagram"></i></a>
										<a href="#"><i class="fa  fa-envelope-o"></i></a>
									</div>
								</div>
							</div>
						</div>
		}
			</div>
		</div>