@using Entities.Concrete;
@model User
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_HomePage.cshtml";
    var list = (List<Menu>)ViewBag.menu;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/gymlife/css/index.css">
    <title>Document</title>
</head>

<body>
    <div >
    <img src="~/images/homepage-images/hero-1.jpg"/>    
    </div>
 

    <div class="mx-auto container">

        <!-- Progress Form -->
        <form id="progress-form" class="p-4 progress-form" method="post" lang="en" novalidate>

            <!-- Step Navigation -->
            <div class="d-flex align-items-start mb-3 sm:mb-5 progress-form__tabs" role="tablist">
                <button id="progress-form__tab-1" class="flex-1 px-0 pt-2 progress-form__tabs-item" type="button" role="tab" aria-controls="progress-form__panel-1" aria-selected="true">
              <span class="d-block step" aria-hidden="true">Step 1 <span class="sm:d-none">of 3</span></span>
              Details
            </button>
                <button id="progress-form__tab-2" class="flex-1 px-0 pt-2 progress-form__tabs-item" type="button" role="tab" aria-controls="progress-form__panel-2" aria-selected="false" tabindex="-1" aria-disabled="true">
              <span class="d-block step" aria-hidden="true">Step 2 <span class="sm:d-none">of 3</span></span>
              Shipping
            </button>
                <button id="progress-form__tab-3" class="flex-1 px-0 pt-2 progress-form__tabs-item" type="button" role="tab" aria-controls="progress-form__panel-3" aria-selected="false" tabindex="-1" aria-disabled="true">
              <span class="d-block step" aria-hidden="true">Step 3 <span class="sm:d-none">of 3</span></span>
              Survey
            </button>
            </div>
            <!-- / End Step Navigation -->

            <!-- Step 1 -->
            <section id="progress-form__panel-1" role="tabpanel" aria-labelledby="progress-form__tab-1" tabindex="0">
                <div class="sm:d-grid sm:grid-col-2 sm:mt-3">
                    <div class="mt-3 sm:mt-0 form__field">
                        <label for="first-name">
                  First name
                  <span data-required="true" aria-hidden="true"></span>
                </label>
                        <input id="FirstName" type="text" name="FirstName" autocomplete="given-name" value="@Model.FirstName"  required >
                    </div>

                    <div class="mt-3 sm:mt-0 form__field">
                        <label for="last-name">
                  Last name
                  <span data-required="true" aria-hidden="true"></span>
                </label>
                        <input id="last-name" type="text" name="last-name" autocomplete="family-name"  required>
                    </div>
                </div>

                <!-- nickname adı ve gender -->
                <div class="sm:d-grid sm:grid-col-2 sm:mt-3">
                    <div class="mt-3 sm:mt-0 form__fiedivld">
                        <label for="first-name">
                  Nick Name
                  <span data-required="true" aria-hidden="true"></span>
                </label>
                        <input id="first-name" type="text" name="first-name" autocomplete="given-name" required>
                    </div>


                    <div class="mt-3 sm:mt-0 form__field">
                        <label for="address-state">
                  Gender
                  <span data-required="true" aria-hidden="true"></span>
                </label>
                        <select id="address-state" name="address-state" autocomplete="shipping address-level1" required style="height: 48px; ">

                        <option value="" disabled selected>Please select</option>
                        <option >Women</option>
                        <option >Man</option>
                        </select>
                    </div>
                </div>

                <!-- password -->
                <div class="sm:d-grid sm:grid-col-2 sm:mt-3" onsubmit="return verifyPassword()">
                    <div class="mt-3 sm:mt-0 form__field">
                        <label for="first-name">
                  Password
                  <span data-required="true" aria-hidden="true"></span>
                </label>
                        <input id="passwordFirst" type="password" name="passwordFirst" required>
                    </div>

                    <div class="mt-3 sm:mt-0 form__field">
                        <label for="last-name">
                  Again Password
                  <span data-required="true" aria-hidden="true"></span>
                </label>
                        <input id="passwordSecond" type="password" name="passwordSecond" required>
                    </div>
                </div>
                <div id="message">
                    <h3>Password must contain the following:</h3>
                    <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                    <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                    <p id="number" class="invalid">A <b>number</b></p>
                    <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                </div>

                <div class="mt-3 form__field">
                    <label for="email-address">
                Email address
                <span data-required="true" aria-hidden="true"></span>
              </label>
                    <input id="email-address" type="email" name="email-address" autocomplete="email" inputmode="email" required>
                </div>

                <div class="mt-1 form__field">
                    <label class="form__choice-wrapper">
                <input id="email-newsletter" type="checkbox" name="email-newsletter" value="Yes" checked>
                <span>Yes, I would like to sign up to receive the newsletter</span>
              </label>
                </div>

                <div class="mt-3 form__field">
                    <label for="phone-number">
                Phone number (optional)
              </label>
                    <input id="phone-number" type="tel" name="phone-number" autocomplete="tel" inputmode="tel">
                </div>

                <div class="mt-3 form__field">
                    <label for="address">
              Address
              <span data-required="true" aria-hidden="true"></span>
            </label>
                    <input id="address" type="text" name="address" autocomplete="shipping address-line1" required>
                </div>


                <div class="d-flex align-items-center justify-center sm:justify-end mt-4 sm:mt-5">

                    <button id="utto1" type="button" data-action="next">
                Continue
              </button>
                </div>
            </section>
            <!-- / End Step 1 -->

            <!-- Step 2 -->
            <section id="progress-form__panel-2" role="tabpanel" aria-labelledby="progress-form__tab-2" tabindex="0" hidden>
                <div class="mt-3 form__field">
                    <label for="address">
                Address
                <span data-required="true" aria-hidden="true"></span>
              </label>
                    <input id="address" type="text" name="address" autocomplete="shipping address-line1" required>
                </div>

                <div class="mt-3 form__field">
                    <label for="address">
              National
              <span data-required="true" aria-hidden="true"></span>
            </label>
                    <input id="address" type="text" name="address" autocomplete="shipping address-line1" pattern="[0-9]" required>
                </div>



                <div class="sm:d-grid sm:grid-col-2 sm:mt-3">
                    <div class="mt-3 sm:mt-0 form__field">
                        <label for="first-name">
              Height
              <span data-required="true" aria-hidden="true"></span>
            </label>
                        <input id="height-name" type="text" name="height-name" autocomplete="given-name" maxlength="3" pattern="[0-9]" required>
                    </div>

                    <div class="mt-3 sm:mt-0 form__field">
                        <label for="last-name">
              Weight
              <span data-required="true" aria-hidden="true"></span>
            </label>
                        <input id="last-name" type="text" name="last-name" autocomplete="family-name" maxlength="3" pattern="\d*" required>
                    </div>
                </div>


                <div class="sm:d-grid sm:grid-col-2 sm:mt-3">
                    <div class="mt-3 sm:mt-0 form__field">
                        <label for="first-name">
            Date Of Birth
            <span data-required="true" aria-hidden="true"></span>
          </label>
                        <input id="first-name" type="date" name="first-name" autocomplete="given-name" required>
                    </div>

                    <div class="mt-3 sm:mt-0 form__field">
                        <label for="last-name">
            Remaining Right
            <span data-required="true" aria-hidden="true"></span>
          </label>
                        <input id="last-name" type="text" name="last-name" autocomplete="family-name" required>
                    </div>
                </div>

                <div class="d-flex flex-column-reverse sm:flex-row align-items-center justify-center sm:justify-end mt-4 sm:mt-5">
                    <button type="button" class="mt-1 sm:mt-0 button--simple" data-action="prev">
                Back
              </button>

                    <button type="button" data-action="next">
                Continue
              </button>
                </div>
            </section>
            <!-- / End Step 2 -->

            <!-- Step 3 -->
            <section id="progress-form__panel-3" role="tabpanel" aria-labelledby="progress-form__tab-3" tabindex="0" hidden>
                <div class="mt-3 form__field">
                    <label for="product-satisfaction">
                How would you rate your level of satisfaction with the service you received?
                <span data-required="true" aria-hidden="true"></span>
              </label>
                    <select id="product-satisfaction" name="product-satisfaction" required>
                <option value="" disabled selected>Please select</option>
                <option value="Highly satisfied">Highly satisfied</option>
                <option value="Very satisfied">Very satisfied</option>
                <option value="Satisfied">Satisfied</option>
                <option value="Very dissatisfied">Very dissatisfied</option>
                <option value="Highly dissatisfied">Highly dissatisfied</option>
              </select>
                </div>
                <div class="mt-3 form__field">
                    <label for="product-recommendation">
                How likely are you to recommend our products to friends or family?
                <span data-required="true" aria-hidden="true"></span>
              </label>
                    <select id="product-recommendation" name="product-recommendation" required>
                <option value="" disabled selected>Please select</option>
                <option value="Highly likely">Highly likely</option>
                <option value="Very likely">Very likely</option>
                <option value="Likely">Satisfied</option>
                <option value="Very unlikely">Very unlikely</option>
                <option value="Highly unlikely">Highly unlikely</option>
              </select>
                </div>

                <fieldset id="product-purchase" class="mt-3 form__field">
                    <legend>
                        Which of the following products have you purchased in the past 6 months? Please check all that apply.
                    </legend>
                    <label class="form__choice-wrapper">
                <input type="checkbox" name="product-purchase" value="A">
                <span>Product A</span>
              </label>
                    <label class="form__choice-wrapper">
                <input type="checkbox" name="product-purchase" value="B">
                <span>Product B</span>
              </label>
                    <label class="form__choice-wrapper">
                <input type="checkbox" name="product-purchase" value="C">
                <span>Product C</span>
              </label>
                </fieldset>

                <div class="mt-3 form__field">
                    <label for="product-feedback">
                Do you have any additional feedback or comments about our products?
              </label>
                    <textarea id="product-feedback" name="product-feedback" rows="5"></textarea>
                </div>

                <div class="d-flex flex-column-reverse sm:flex-row align-items-center justify-center sm:justify-end mt-4 sm:mt-5">
                    <button type="button" class="mt-1 sm:mt-0 button--simple" data-action="prev">
                Back
              </button>
                    <button type="submit">
                Submit
              </button>
                </div>
            </section>
            <!-- / End Step 3 -->

            <!-- Thank You -->
            <section id="progress-form__thank-you" hidden>
                <p>Thank you for your submission!</p>
                <p>We appreciate you contacting us. One of our team members will get back to you very&nbsp;soon.</p>
            </section>
            <!-- / End Thank You -->

        </form>
        <!-- / End Progress Form -->

    </div>
</body>
<script src="/gymlife/js/index.js"></script>

</html>
