
@{
    Layout = null;
    //var code = (String)@ViewBag.code;
    //var msg = @ViewBag.msg;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>404-GymGym-A</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/template/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/template/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/template/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End Plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->


    <link rel="stylesheet" href="~/template/assets/css/error.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/template/assets/images/favicon.png" />
</head>
<body>
  <div class="glitch-wrapper">
  <div class="glitch-text">
    ERROR 404: Not found
  </div>
</div>
<a><button type="button" href="/Home/Index/">Homepage</button></a>
<button type="button">Send error</button>

</body>
<script href="~/template/assets/js/error.js"></script>
</html>