@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="text-center " style="margin-top:100px;">
     <a id="GG" style="width:450px;margin-top:150px;" href="~/Views/Shared/_AdminLayout.cshtml"><img id="firstGi"style="width:450px; height:265px;"src="~/template/assets/images/ggalogo.png" alt="logo" /></a>
    <p style="font-size:50px;">Admin Page</p>
</div>
